html {
    font-family: helvetica;
}

nav {
    height: 40px;
    width: inherit;
    background-color: gray;
}

#search {
    float: right;
    position: relative;
    top:25%;
    margin-right: 10px;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#info {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 99;
    
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
}

.center {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#centerlocation {
    height: 100px;
    width: inherit;
    margin: 10%;
}
    
#location {
    height: 100px;
    padding-right: 30px;
    border-right: solid 1px;
    border-color: black;
    float: left;
    clear: both;
}

#temp {
    margin-left: 30px;
    float: left;
}

#degrees, img {
    float: left;
    padding: 15px;
    margin: auto;
    max-height: 75px;
}

#degrees :nth-child(odd) {
    border-bottom: solid 1px;
}

.small {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
}



#location p {
    width: 200px;
    margin: 0px;
    padding: 0px;
    border: none;
}

#temp p {
    margin: 0px;
    padding: 0px;
    border: none;
}

.large {
    font-size: 30px;
}

